.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
  }
  
  .header-nav-item {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.2s;
  }
  
  .header-nav-item:hover {
    color: #0077c9;
  }
  
  .header-nav-item.active {
    font-weight: bold;
    color: #0077c9;
  }
  